body{
  background: #F0C27B;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4B1248, #F0C27B);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4B1248, #F0C27B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: center; 
  display:flex;
  justify-content:center;
  align-items:center;
  font-family: 'Kanit', sans-serif;
}

.Text1{
  align-items:center;
  position: absolute;
  display:flex;
  justify-content:center;
  font-size: 60px;
}

.Text2{
  align-items:center;
  position: absolute;
  display:flex;
  justify-content:center;
  font-size: 48px;
}

